* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

td {
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
}

h3 {
    font-weight: 300;
}

p {
    margin: 2px;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 8px 12px;
    border-bottom: 1px solid;
}

.table-configurations {
    display: flex;
    justify-content: center;
    margin: 16px;
}

#club-buttons {
    display: flex;
    justify-content: center;
}

.club-button {
    width: 40px;
    height: 24px;
    margin: 0px 4px;
    border-radius: 4px;
    border: 1px solid black;
    font-size: 0.8rem;
    box-shadow: 2px 2px;
}

#scatterPlot {
    max-height: 500px;
}

#calculation-results {
    display: flex;
    justify-content: center;;
    margin: 12px;
    gap: 12px;
}

.calculation-divs {
    text-align: center;
    border: 1px solid black;
    padding: 2px 6px;
    border-radius: 4px;
    min-width: 120px;
}