* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

td {
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
}

.header {
    display: flex;
    justify-content: space-between;
    margin: 8px 12px;
}

.table-configurations {
    display: flex;
    justify-content: center;
    margin: 16px;
}

#club-buttons {
    display: flex;
    justify-content: center;
    margin: 16px;
}

.club-button {
    width: 40px;
    height: 24px;
    margin: 0px 4px;
    border-radius: 4px;
    border: 1px solid black;
    font-size: 0.8rem;
    box-shadow: 2px 2px;
}

#scatterPlot {
    max-height: 500px;
}