{% extends 'base.html' %}

{% load static %}

{% block content %}
    <div class="header">
        <div class="left-side">
            <h2>Shot Data</h2>
            <p>Number of Data Points: {{ shot_data|length }}</p>
            <!-- Paragraph to display the number of data points -->
            <p id="data-point-count">Number of Data Points: 0</p>
        </div>
        <div class="middle">
            <!-- Buttons to toggle clubs -->
            <div id="club-buttons">
                {% for club in clubs %}
                    <button type="button" class="club-button" data-club="{{ club }}">{{ club }}</button>
                {% endfor %}
            </div>

            <!-- Dropdown menus for axis options -->
            <div class="table-configurations">
                <label for="x-axis">X-Axis:</label>
                <select id="x-axis">
                    <option value="data_point">Data Point</option>
                    <option value="carry_distance_range">Carry Distance</option>
                    <option value="flat_carry_distance_range">Flat Carry Distance</option>
                    <option value="total_distance_range">Total Distance</option>
                    <option value="flat_total_distance_range">Flat Total Distance</option>
                    <option value="apex_range">Apex</option>
                    <option value="ball_speed_range">Ball Speed</option>
                    <option value="launch_angle">Launch Angle</option>
                </select>

                <label for="y-axis">Y-Axis:</label>
                <select id="y-axis">
                    <option value="carry_distance_range">Carry Distance</option>
                    <option value="flat_carry_distance_range">Flat Carry Distance</option>
                    <option value="total_distance_range">Total Distance</option>
                    <option value="flat_total_distance_range">Flat Total Distance</option>
                    <option value="apex_range">Apex</option>
                    <option value="ball_speed_range">Ball Speed</option>
                    <option value="launch_angle">Launch Angle</option>
                </select>
            </div>
        </div>
        <div class="right-side">
            <h2>Upload CSV</h2>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Upload</button>
            </form>
        </div>
    </div>

    <div id="calculation-results">
        <div class="calculation-divs">
            <h3>Average</h3>
            <p id="average-value"></p>
        </div>
        <div class="calculation-divs">
            <h3>Range</h3>
            <p id="average-range"></p>
        </div>
        <div class="calculation-divs">
            <h3>Maximum</h3>
            <p id="top-1"></p>
        </div>
        <div class="calculation-divs">
            <h3>Top 10%</h3>
            <p id="top-10-value"></p>
        </div>
        <div class="calculation-divs">
            <h3>Top 25%</h3>
            <p id="top-25-value"></p>
        </div>
        <div class="calculation-divs">
            <h3>Top 50%</h3>
            <p id="top-50-value"></p>
        </div>
        <div class="calculation-divs">
            <h3>Top 75%</h3>
            <p id="top-75-value"></p>
        </div>
        <div class="calculation-divs">
            <h3>Minimum</h3>
            <p id="bottom-1"></p>
        </div>
    </div>

    <!-- Canvas for scatter plot -->
    <canvas id="scatterPlot" width="400" height="400"></canvas>

    <table>
        <thead>
            <tr>
                <th>Data Point</th>
                <th>Club</th>
                <th>Strokes Gained</th>
                <th>Carry Distance</th>
                <th>Flat Carry Distance</th>
                <th>Total Distance</th>
                <th>Flat Total Distance</th>
                <th>Apex</th>
                <th>Ball Speed</th>
                <th>Launch Angle</th>
                <th>Curve</th>
            </tr>
        </thead>
        <tbody>
            {% for shot in shot_data %}
                <tr data-club="{{ shot.club }}">
                    <td>{{ forloop.counter }}</td>
                    <td>{{ shot.club }}</td>
                    <td>{{ shot.strokes_gained }}</td>
                    <td>{{ shot.carry_distance_range }}</td>
                    <td>{{ shot.flat_carry_distance_range }}</td>
                    <td>{{ shot.total_distance_range }}</td>
                    <td>{{ shot.flat_total_distance_range }}</td>
                    <td>{{ shot.apex_range }}</td>
                    <td>{{ shot.ball_speed_range }}</td>
                    <td>{{ shot.launch_angle }}</td>
                    <td>{{ shot.curve }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <!-- Include Chart.js library -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-annotation@1.0.2"></script>
    <script src="{% static 'js/script.js' %}"></script>

{% endblock %}